.about-container {
  display: flex;
  flex-direction: column;
  /* justify-self: center; */
  align-items: center;
  /* width: 1250px; */
  margin-bottom: 200px;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: left;
  width: 1050px;
  /* border-bottom: 2px solid white; */
  /* margin-bottom: 20px; */
  margin: 0px 0px 20px 0px;
  padding-bottom: 5px;
}

.about-subheader {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: left;
  width: 1050px;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.about-details {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
  /* padding-left: 20px; */
  width: 1050px;
  box-sizing: border-box;
  line-height: 1.5;
  margin: 20px 0px 20px 0px;
  /* font-weight: 400; */
}

.about-detail {
  text-align: left;
  width: 100%;
  font-weight: bold;
  margin: 7.5px 0px 7.5px 0px;
  /* padding-left: 20px; */
}

.about-detail-floated {
  text-align: left;
  width: 100%;
  font-weight: bold;
  margin: 0px 0px 7.5px 0px;
  padding: 0px;
  /* line-height: 1.5; */
  /* padding-left: 20px; */
}

.about-detail-floated:first-letter {
  /* font-size: 150%; */
  /* padding: 0px; */
  /* line-height: 1.5; */
  /* padding-left: 20px; */
}

.about-img-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  overflow: wrap;
}

.about-img-floated {
  width: 250px;
  display: block;
  float: left;
  margin-right: 1em;
  border-radius: 5px;
}

.about-img {
  width: 250px;
  /* height: 250px; */
  border-radius: 5px;
  object-fit: cover;
}

.fit {
  object-fit: cover;
}

.no-margin {
  margin: 0px;
}

.about-img-music {
  width: 150px;
  background-color: white;
  border-radius: 5px;
  padding: 7px;
  /* object-fit: cover; */
}

.about-img-team {
  width: 150px;
  background-color: white;
  border-radius: 5px;
  padding: 7px;
  object-fit: cover;
}

.link {
  color: var(--light-font-color-hover);
}

.link:hover {
  cursor: pointer;
  opacity: .8;
}

.about-img-music:hover {
  cursor: pointer;
}

.about-img-team:hover {
  cursor: pointer;
}

