.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-image-container {
  width: 400px;
  height: 400px;
}

.landing-image {
  object-fit: cover;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid white;
}

.landing-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landing-icon-light {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 10px;
  color: black;
}

.landing-icon-dark {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 10px;
}

.landing-icon-light:hover {
  cursor: pointer;
  color: var(--light-font-color-hover);
}

.landing-icon-dark:hover {
  cursor: pointer;
  color: var(--light-font-color-hover);
}

.landing-name-light {
  margin-bottom: 15px;
}

.landing-name-dark {
  margin-bottom: 15px;
}

.landing-description-light {
  margin-top: 15px;
}

.landing-description-dark {
  margin-top: 15px;
}
